@{
    ViewData["Title"] = "Home Page";
}
@using Ark.View;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr />
<span>Check sqlite-view</span>
<sqlite-view Connection-String="Data Source=./church.db" data-qry="select * from audit_log;"></sqlite-view>
<hr />
<span>Check sqlite-view</span>
<sqlite-view Connection-String="Data Source=./church.db" data-qry="select * from members;"></sqlite-view>
<br />
<hr />
<span>Check sqlite-view with pre</span>
<sqlite-view Connection-String="Data Source=./church.db" data-qry="select * from members;" data-preformat="col1,col2"></sqlite-view>
<br />
<hr />
@* <span>Check sqlite-view wite pre and delete</span>
<sqlite-view Connection-String="church.db" data-qry="select * from members;" data-delete="member_id, name" data-table="members" data-preformat="col1,col2"></sqlite-view>
 *@<br />
<hr />
<span>Check dir-list 1</span>
<dir-list dir-path="./Invalid"></dir-list>
<br />
<hr />
<span>Check dir-list 2</span>
<dir-list dir-path="Test_DirList"></dir-list>
<br />
<hr />
<span>Check dir-list (nested) 3</span>
<dir-list dir-path="Test_DirList" nested="true"></dir-list>
<br />
<hr />
<span>Check dir-list (nested wtih delete button) 4</span>
<dir-list dir-path="Test_DirList" nested="true" deletable="true"></dir-list>

<br />
<hr />
<span>Upload View (upload view) 1</span>
<upload-view></upload-view>

<br />
<hr />
<span>Upload View With Callback (upload view) 2</span>
<upload-view upload-callback="func_uplaoded"></upload-view>

<br />

<hr />
<span>File Viewer (csv) 1</span>
<file-view delimiter="," file-path="Test_DirList/lib/jquery/LICENSE.txt"></file-view>

<br />

@*<hr />
<span>File Viewer (csv - with heading) 1</span>
<file-view delimiter="," file-path="Test_DirList/worldcitiespop.csv" heading="true"></file-view>

<br />*@

<hr />
<span>File Viewer (csv - with heading and streaming) 1</span>
<file-view delimiter="," file-path="Test_DirList/worldcitiespop.csv" streaming="true" heading="true"></file-view>

<br />

<br />
<hr />

<script>
    var func_uplaoded = (e) => {
        console.log(e);
    }
</script>